.containercontacto{
    display: flex;
      
}
.containercontacto1{
    width:70%;
}
.containercontacto2{
    background:
    url(../assets/contacto.jpg) no-repeat ;
    background-size: cover;
    width:30%;
    height: 500px;
    margin: 50px;
}

.inputform{
    -webkit-text-fill-color: rgb(0, 0, 0);
}

.inputform2{
    -webkit-text-fill-color: rgb(0, 0, 0);
}

@media (max-width: 900px) {
    .containercontacto2{
        display: none;
    }
    .containercontacto{
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 450px) {

    #info-contacto{
       display: none;
    }

}