#root{
background: url(../assets/fondopizarra.jpg);
color: aliceblue;
}
h2{
padding-top: 20px;
}

p{
    max-width: 1000px;
}

.containerparrafo{
    display: flex;
    justify-content: center;
}

@media (max-width: 1100px) {
    .imagenprincipal{
        max-width: 100%;
        padding: 40px;
    }
    p{
        text-align: center;
        padding: 40px;
    }
  }